//
// Project Variables
//
//Colors
$primary-color: #444
$secondary-color: #eece1a
$light-primary: lighten($primary-color, 40)
//Background image 'switch'
$show-home-image: true
$home-image: url(../img/background.jpg)
$background-opacity: 0.8